body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-color: #999;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.c-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

button {
    border-color: #777;
    background-color: #555;
    padding: 0px;
    height: 2.5rem;
    width: 2.5rem;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}